<div class="card" [class.flipped]="isFlipped">
  <div class="card-inner">
    <!-- Front of card -->
    <div class="card-front">
      <div class="bookmark" *ngIf="question.flagged"></div>
      <div class="language-toggle">
        <button class="toggle-button" (click)="toggleLanguage()">
          <i class="fas fa-language"></i>
          {{ isSpanish ? 'ES' : 'EN' }}
        </button>
      </div>
      <h2 class="question">{{isSpanish ? question.spanishVer.question : question.question}}</h2>
      <button class="reveal-button" (click)="flipCard()">
        Show Answer
      </button>
    </div>
    
    <!-- Back of card -->
    <div class="card-back">
      <div class="language-toggle">
        <button class="toggle-button" (click)="toggleLanguage()">
          <i class="fas fa-language"></i>
          {{ isSpanish ? 'ES' : 'EN' }}
        </button>
      </div>
      <div class="answer-content" #answerContent (scroll)="onAnswerScroll($event)">
        <h3 class="answer" *ngFor="let answer of (isSpanish ? question.spanishVer.correctAnswers : question.correctAnswers)">{{answer}}</h3>
        <div class="scroll-indicator" [class.visible]="showScrollIndicator">
          <i class="fas fa-chevron-down"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="answer-actions" *ngIf="isFlipped">
    <p class="button-group-text">Did you get it right?</p>
    <div class="button-group">
        <button class="answer-button correct" (click)="onAnswerSelected(true)">
        Correct
        </button>
        <button class="answer-button wrong" (click)="onAnswerSelected(false)">
        Wrong
        </button>
    </div>
</div> 