.setup-container {
    height: 100vh;
    background-color: var(--military-green-primary);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    color: white;
  }

  .back-button {
    background-color: var(--military-green-dark);
    color: white;
    border: none;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .spacer {
    width: 3rem;
  }

  h1 {
      padding-left: 2rem;
      font-size: 2rem;
      margin: 0;
  }

  .content {
    flex: 1;
    display: flex;
    padding: 2rem;
    justify-content: center;
  }

  .input-group {
    width: 110%;
    max-width: 400px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
  }

  .question-count-label {
      color: var(--military-green-darker);
      text-align: center;
      width: 50%;
      font-size: 2rem;
      font-weight: 400;
      margin: 0;
  }

  .question-count {
      color: white;
      font-size: 6rem;
      font-weight: 600;
      letter-spacing: 5px;
      margin: 0;
  }

  .slider-container {
    height: 400px;
    width: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .slider {
    position: absolute;
    left: 0;
    width: 400px;
    height: 12px;
    -webkit-appearance: none;
    appearance: none;
    background: var(--military-green-darker);
    outline: none;
    border-radius: 8px;
    border: 2px solid var(--military-green-dark);
    transform: rotate(-90deg) translateX(-200px);
    transform-origin: left center;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 35px;
    height: 35px;
    background: var(--military-green-dark);
    border: 3px solid white;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
  }

  .slider::-moz-range-thumb {
    width: 35px;
    height: 35px;
    background: var(--military-green-dark);
    border: 3px solid white;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
  }

  .footer {
    padding: 2rem;
  }

  .start-button {
    width: 100%;
    padding: 15px 40px;
    font-size: 24px;
    font-weight: bold;
    background-color: var(--military-green-dark);
    color: white;
    border: 2px solid var(--military-green-darker);
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.3s ease;
  }

  .start-button:hover {
    background-color: var(--military-green-darker);
    transform: scale(1.05);
  }